.page {
    background: var(--bg);
    color: var(--textcolor);
}

body {
    font: 16px Helvetica, arial, freesans, clean, sans-serif;
    line-height: 1.5;
    margin: 0 10px;
}

.profile {
    float: right;
    width: 30em;
    background: var(--altbg);
    border-radius: 15px;
    padding: 0.25em;
    margin: 1em;
}

@media only screen and (max-width: 480px){
    .profile {
        width: 100%;
        margin: 0em;
    }
}

.profile img {
    width: inherit;
}

.profile h3 {
    margin: 0.25em;
    text-align: center;
}

.profile table {
    width: 100%;
    table-layout: fixed;
}

.profile table, th, td{
    border-collapse: collapse;
    border: 1px solid var(--bordercolor);
    text-align: center;
}

.profile td {background-color: var(--altaltbg)}

:root {
    --bg: black;
    --altbg: grey;
    --altaltbg: darkgrey;
    --bordercolor:#555;
    --textcolor: white;
}
