.siteTitle {
    text-decoration: none;
    color: var(--textcolor);
}

.siteTitle:hover {
    text-decoration: underline;
    color: var(--textcolor);
}

nav {
    margin: auto;
    text-align: center;
}

nav ul {
    list-style: none;
}

nav a {
    text-decoration: none;
    color: var(--textcolor);
    margin-left: 1em;
    margin-right: 1em;
}

nav li {
    background: var(--altbg);
    border-radius:10px;
    padding: 0.5em;
    font-variant: small-caps;
    text-decoration: none;
    display: inline-block;
    list-style:none;
}

nav li:hover {
    list-style-type:disc;
	  background: gold;
	  color: black;
	  box-shadow: 2px 2px orange;
}

.page {
    background: var(--bg);
    color: var(--textcolor);
}

body {
    font: 16px Helvetica, arial, freesans, clean, sans-serif;
    line-height: 1.5;
    margin: 0 10px;
}

.profile {
    float: right;
    width: 30em;
    background: var(--altbg);
    border-radius: 15px;
    padding: 0.25em;
    margin: 1em;
}

@media only screen and (max-width: 480px){
    .profile {
        width: 100%;
        margin: 0em;
    }
}

.profile img {
    width: inherit;
}

.profile h3 {
    margin: 0.25em;
    text-align: center;
}

.profile table {
    width: 100%;
    table-layout: fixed;
}

.profile table, th, td{
    border-collapse: collapse;
    border: 1px solid var(--bordercolor);
    text-align: center;
}

.profile td {background-color: var(--altaltbg)}

:root {
    --bg: black;
    --altbg: grey;
    --altaltbg: darkgrey;
    --bordercolor:#555;
    --textcolor: white;
}
